<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="signin.php" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
	<rewrite>
            <rules>
        	<rule name="Redirect domain.com to www" enabled="false" patternSyntax="Wildcard" stopProcessing="true">
            	    <match url="*" />
            	     <conditions>
                        <add input="{HTTP_HOST}" pattern="nustradetrack.com" />
            	      </conditions>
            	      <action type="Redirect" url="https://www.nustradetrack.com/{R:0}" />
        	</rule>
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>		
    </system.webServer>
</configuration>
